# Unity cache ve geçici dosyaları
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio/JetBrains dosyaları
.vscode/
*.csproj
*.sln
*.user
*.unitypackage

# OS geçici dosyaları
.DS_Store
Thumbs.db
.vs/grup23repository/FileContentIndex/0337ada4-3676-42e1-998d-cd4e77ca05f6.vsidx
.vs/grup23repository/FileContentIndex/2ed9ede2-c8bc-48e2-879e-326b54a9c9ce.vsidx
.vs/grup23repository/FileContentIndex/a8b30d4b-352e-4acd-a7b3-f539dfca495a.vsidx
.vs/grup23repository/FileContentIndex/597f75e6-fd6b-479a-970d-f0f9655faf5d.vsidx
.vs/grup23repository/FileContentIndex/0ee55ca3-06ba-48b9-bb7e-39aacedfd59c.vsidx
.vs/grup23repository/FileContentIndex/9b3983cc-0d87-4189-99f8-4261daece263.vsidx
.vs/grup23repository/FileContentIndex/9ba2dfb6-26ae-4043-b1d7-ab9d21125479.vsidx
.vs/grup23repository/FileContentIndex/243b8346-3e65-4703-af29-cdbfd35fddd5.vsidx
.vs/grup23repository/FileContentIndex/7c72f7b7-a445-412f-97c4-8d583cbaa2a8.vsidx
.vs/grup23repository/FileContentIndex/dccd00df-5d06-46d7-b8d3-d221d6fba13c.vsidx
Assets/LowPolyFarmLite/LowPolyFarmLite_2020.3_HDRP_v1.02.unitypackage.meta
Assets/LowPolyFarmLite/LowPolyFarmLite_2020.3_URP_v1.02.unitypackage.meta
Assets/Audios.meta
Assets/Audios.meta
.vs/grup23repository/FileContentIndex/b0f6ee2d-8f50-402f-97a0-69621d7e662f.vsidx
.vs/grup23repository/FileContentIndex/f30d8c43-b3c9-41f9-b4d2-5c4a7316b7e9.vsidx
.vs/grup23repository/FileContentIndex/fad06ff2-36ae-4f25-8c2b-5a09b47a5061.vsidx
.vs/grup23repository/FileContentIndex/59657e44-767b-4247-ae4b-aaf1a0588d99.vsidx
.vs/grup23repository/FileContentIndex/18b061d0-fca4-4327-9b46-16e0828180e1.vsidx
.vs/grup23repository/FileContentIndex/11f792a2-8cb8-4476-90c6-68f125fe05f8.vsidx
.vs/grup23repository/FileContentIndex/6e6e46fd-343b-489b-94a7-25d529641424.vsidx
.vs/grup23repository/FileContentIndex/67fa42f5-c013-4f88-b7f4-66880d30bf90.vsidx
.vs/grup23repository/FileContentIndex/0a5140c9-03fe-4d79-b9e7-0d6f65d7a885.vsidx
.vs/grup23repository/FileContentIndex/c1ae3f87-0ff0-48f9-aba8-0616d65986b1.vsidx
.vs/grup23repository/FileContentIndex/880e0b80-4abe-429b-bd37-28ecaa8b6d0d.vsidx
.vs/grup23repository/FileContentIndex/931551f3-73e2-4290-8eea-ed529af79cae.vsidx
.vs/grup23repository/FileContentIndex/97dcf6cb-1776-4ec2-bc10-f1d20be84552.vsidx
.vs/grup23repository/FileContentIndex/c2b11e3d-cac7-4adb-8cf7-fa9bc990a7fa.vsidx
.vs/grup23repository/FileContentIndex/ccbaf671-3235-48d6-8e7f-bfaa0abe63a6.vsidx
.vs/grup23repository/FileContentIndex/dcaa231a-5f44-40e8-b1af-74421dbe8180.vsidx
.vs/grup23repository/CopilotIndices/17.12.38.29086/CodeChunks.db
.vs/grup23repository/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
.vs/grup23repository/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
.vs/grup23repository/FileContentIndex/05cc5906-15bb-4527-ba4c-809f68ee7c9f.vsidx
.vs/grup23repository/v17/.suo
.vs/grup23repository/v17/DocumentLayout.backup.json
.vs/grup23repository/v17/DocumentLayout.json
.vs/grup23repository/FileContentIndex/15ac330c-2866-4b46-9568-36a9aaa040b3.vsidx
.vs/grup23repository/FileContentIndex/347b9bce-cfd3-4999-a3dd-1015d1fd528e.vsidx
.vs/grup23repository/FileContentIndex/d132b36b-1a7d-4027-bd4d-28cad0726ff7.vsidx
.vs/grup23repository/FileContentIndex/e5cb09ca-d821-467f-9caa-856e766fb1c3.vsidx
.vs/grup23repository/FileContentIndex/8dd54e0d-82d8-4deb-b04b-d10188dcbead.vsidx
