# Unity cache ve geçici dosyaları
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio/JetBrains dosyaları
.vscode/
*.csproj
*.sln
*.user
*.unitypackage

# OS geçici dosyaları
.DS_Store
Thumbs.db
.vs/grup23repository/FileContentIndex/0337ada4-3676-42e1-998d-cd4e77ca05f6.vsidx
.vs/grup23repository/FileContentIndex/2ed9ede2-c8bc-48e2-879e-326b54a9c9ce.vsidx
.vs/grup23repository/FileContentIndex/a8b30d4b-352e-4acd-a7b3-f539dfca495a.vsidx
